*{
    margin: 0;
    padding: 0;
    font-family: 'raleway';
}
body{
    background-color: #D6DDED;
}
button{
    background-color: green;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: red;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    scale: 1;
    transition: 1s;
}

/* Header Section CSS Stats Here */
header{
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    max-width: 1170px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 120px;
}
.hero-container{
    text-align: center;
    padding: 120px;
}
.hero-container h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #252432;
}
