*{
    margin: 0;
    padding: 0;
    font-family: 'raleway';
}
body{
    background-color: #D6DDED;
}
button{
    background-color: green;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: red;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    scale: 1;
    transition: 1s;
}

/* Header Section CSS Stats Here */
header{
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    max-width: 1170px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 120px;
}
.hero-container{
    text-align: center;
    padding: 120px;
}
.hero-container h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #252432;
}

/* Action Container CSS Stats Here */
.action-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-left h3{
    font-size: 42px;
    font-weight: 700;
    color: 252432;
    margin-bottom: 20px;
}
.action-left p{
    font-size: 24px;
    font-weight: 500;
    color: #25243283;
    width: 500px;
    margin-bottom: 20px;
}
.action-right img{
    border-radius: 30px;
}

/* Productive Container CSS Stats Here */
.productive-container{
    padding: 40px 0;
    background-color: #4d47ff28;
    border-radius: 30px;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.productive-container h1{
    color: #252432;
    font-size: 38px;
    margin-block: 20px;
}
.user-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-block: 20px;
}
.user-items h2{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-block: 10px;
    font-family: 'inter', sans-serif;
}
.user-items p{
    font-size: 20px;
    font-weight: 700;
    color: #00000050;
    margin-block: 10px;
    font-family: 'inter', sans-serif;
}